################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.tml-build/TML.targets
/bin/Debug/net8.0
/obj
